html {
font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}
.upper-text {
  text-transform: uppercase;
}

/*Nav bar*/
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 113px;
  z-index: 1000;
  padding: 24px 0 8px 0;
  transition: all 0.7s ease;
}
.menu-scroll {
  background-color: white;
  color: gray;
}
#menu #logo {
  width: 70px;
  max-width: 100%;
  margin-top: 2%;
  margin-left: 7%;
}
#menu #nav-bar {
  float: right;
  margin-right: 3%;
}
#nav-bar li {
  display: inline-block;
}
#nav-bar li a,
#nav-bar li button {
  color: white;
  text-decoration: none;
  background: none;
  font-size: 1.5vw;
  font-weight: 300;
  margin: 15px;
}
#nav-bar li button {
  border-radius: 10px;
  height: 50px;
  width: 100px;
}
#nav-bar li button:focus {
  outline: none;
}
#nav-bar li button #btn-login {
  border: 0.5px solid lightgray;
}
#btn-signup{
  opacity: 0;
  border: 0.5px solid #FF00BF;
  transition: 0.7s;
}
/*END Nav bar*/

/*Header video and form*/
header {
  position: relative;
}
#suscription video {
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  max-width: 100%;
  top: 10%;
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
}
#form-container {
  position: absolute;
  background: white;
  top: 18%;
  right: 0;
  padding: 5%;
}

/*Section INFO*/

/*Section VIDEOS*/
#video1, #video2, #video3 {
  position: relative;
  display: block;
  width: 100%;
  height: 550px;
  max-height: 100%;
}
#video1 article, #video2 article, #video3 article,
#video1 iframe, #video2 iframe, #video3 iframe {
  position: absolute;
  display: inline-block;
}
#video1 article, #video2 article, #video3 article {
  width: 33%;
  margin-left: 15px;
}
#video1 iframe, #video2 iframe, #video3 iframe {
  width: 65%;
  height: 550px;
}
#video1 iframe, #video3 iframe {
  right: 0;
}
#video2 iframe {
  left: 0;
}
#video2 article {
  right: 0;
}
#videos article h6 {
margin: 30px 0 10px 0;
}
#videos article h2 {
  font-size: 2.5vw;
  font-weight: 400;
}
#videos article p {
  text-align: justify;
  width: 80%;
  font-size: 1.2vw;
  font-weight: lighter;
}
/*End VIDEOS*/



/*FOOTER*/
footer {
  width: 100%;
  background-color: #333447;
  bottom: 0;
  height: 400px;
}
footer h5 {
  color: white;
}
footer div {
  display: inline-block;
  margin-top: 40px;
}
#footer-listpartner, #footer-listlearn, #footer-listlogin {
  margin: 3%;
}
#footer-stores {
  float: right;
  margin-right: 50px;
}
#footer-stores img {
  display: block;
  width: 200px;
  max-width: 100%;
  margin: 5%;
}
