html {
font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}
.upper-text {
  text-transform: uppercase;
}

/*Nav bar*/
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 1000;
  padding: 24px 0 8px 0;
  transition: all 0.3s ease;
}
/*For the menu to change color*/
.menu-scroll {
  background-color: white;
  color: gray;
}
#menu #logo {
  width: 70px;
  max-width: 100%;
  margin-top: 2%;
  margin-left: 7%;
}
#menu #nav-bar {
  float: right;
  margin-right: 3%;
  margin-top: 0;
}
#nav-bar ul {
  margin-top: 0;
}
#nav-bar li {
  display: inline-block;
  margin-top: 0;
}
#nav-bar li a,
#nav-bar li button {
  color: white;
  text-decoration: none;
  background: none;
  font-size: 1.5vw;
  font-weight: 300;
  margin: 15px;
}
#nav-bar li button {
  border-radius: 10px;
  height: 50px;
  width: 100px;
}
#nav-bar li button:focus {
  outline: none;
}
#nav-bar li button #btn-login {
  border: 0.5px solid white;
}
#btn-signup{
  opacity: 0;
  border: 0.5px solid #FF00BF;
  transition: 0.3s;
}
/*END Nav bar*/

/*Header video and form*/
header {
  position: relative;
}
#suscription video {
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  max-width: 100%;
  top: 10%;
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
}
/*FORM*/
#form-container {
  position: absolute;
  background: white;
  top: 15%;
  right: 0;
  padding: 3% 5%;
  z-index: 500;
}
#form-container h1 {
  color: #352384;
  font-size: 3.5vw;
  font-weight: 500;
  width:400px;
  margin: 0;
}
#form-container h5 {
  color: #352384;
  margin: 7px 0;
  font-size: 1.2vw;
}
#form-container input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #352384;
  width: 75%;
  height: 50px;
  font-size: 1.3vw;
  margin: 2% 0;
}
#form-container input:focus {
  outline: none;
}
.error-input {
  border-bottom: 0.5px solid #FF00BF;
}
#form-container img[alt="error"]{
  width: 20px;
  margin: 0;
  display: none;
}
.on-signup {
  display: none;
}
#form-container button {
  background-color: #FF00BF;
  color: white;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: 1.3vw;
  font-weight: 600;
  margin: 10px 0;
}
#form-container .signup a {
  color: #728099;
  margin-left: 20px;
  font-size: 1.5vw;
  font-weight: lighter;
}
#form-container p {
  font-size: 0.7vw;
  color: #728099;
}
#form-container p a {
  text-decoration: none;
  color: #FF00BF;
}

/*Section INFO*/
#info {
  background-image: linear-gradient(#74278E, #2B1E66);
  position: relative;
  margin-top: -7.5%;
}
#info-text, #info img {
  display: inline-block;
  color: white;
  height: 700px;
  max-height: 100%;
  margin-top: 10%;
}
#info #info-text {
  width: 450px;
  margin-left: 10%;
}
#info-text div {
  margin: 10% 0;
}
#info-text h4 {
  font-size: 2vw;
  font-weight: 400;
  margin: 0;
}
#info-text p {
  font-size: 1.2vw;
  font-weight: lighter;
  margin: 5% 0;
}
#info img {
  float: right;
  width: 500px;
  height: 520px;
  margin-right: 10%;
}

/*Section VIDEOS*/
#video1, #video2, #video3 {
  position: relative;
  display: block;
  width: 100%;
  height: 550px;
  max-height: 100%;
}
#video1 article, #video2 article, #video3 article,
#video1 iframe, #video2 iframe, #video3 iframe {
  position: absolute;
  display: inline-block;
}
#video1 article, #video2 article, #video3 article {
  width: 33%;
  margin-left: 15px;
}
#video1 iframe, #video2 iframe, #video3 iframe {
  width: 65%;
  height: 550px;
}
#video1 iframe, #video3 iframe {
  right: 0;
}
#video2 iframe {
  left: 0;
}
#video2 article {
  right: 0;
}
#videos article h6 {
margin: 30px 0 10px 0;
}
#videos article h2 {
  font-size: 2.5vw;
  font-weight: 400;
}
#videos article p {
  text-align: justify;
  width: 80%;
  font-size: 1.2vw;
  font-weight: lighter;
}
/*End VIDEOS*/

/*FOOTER*/
footer {
  width: 100%;
  background-color: #333447;
  bottom: 0;
  height: 400px;
}
footer h5 {
  color: white;
}
footer div {
  display: inline-block;
  margin-top: 40px;
}
#footer-listpartner, #footer-listlearn, #footer-listlogin, #footer-stores {
  margin: 3% 5%;
  float: left;
}
#footer h5 {
  font-size: 1.2vw;
  font-weight: 400;
}
#footer li {
  list-style: none;
  margin: 15px 0;
}
#footer a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
}
#footer a:hover {
  cursor: pointer;
  color: #FF00BF;
}
#footer-stores img {
  display: block;
  width: 180px;
  max-width: 100%;
  margin: 7%;
}
#footer-social {
  text-align: center;
  display: block;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 600;
}
#footer #copy-dec {
  bottom: 0;
  height: 200px;
}
